.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.app-content {
  margin-top: 64px; /* Hauteur de la toolbar */
  padding: 16px;
  flex: 1;
  overflow: auto;
}
